---
paths:
  - "**/*.js"
  - "**/*.html"
---

# Frontend
- Don't do visual verifications of the implemented features. Instead, ask the user to verify your work.
